{% extends "includes/_page_template.html" %}

{% block body_content %}
<div class="row">
    <div class="col-6 mx-auto mt-5 text-center">
        <h1 class="mb-5">Add Keywords</h1>
        File: {{ file_dict['file_name']}}
    </div>
</div>
<div class="row">
    <div class="col-8 mx-auto mt-5 text-center" id="kw-container">
        <div class="row justify-content-center kw-container-single">
            <div class="col-6 offset-2">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">Keyword:</div>
                    <div class="col-5">
                        <input type="text" name="kw-0" id="kw-0" class="kw-class text-center" placeholder="Enter Keyword">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">Prefix starts at:</div>
                    <div class="col-5">
                        <input type="text" name="prefix-0" id="prefix-0" class="prefix-class text-center" placeholder="Before kw, n numbers of chars">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">Postfix ends at:</div>
                    <div class="col-5">
                        <input type="text" name="postfix-0" id="postfix-0" class="postfix-class text-center" placeholder="After kw, n numbers of chars">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <br>
                <br>
                <br>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <button style="justify-content:center;" class="btn btn-secondary add-more" id="add-0">Add More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center" id="error" style="color: red;">Please add at least one keyword</div>
</div>
<div class="row">
    <div class="col-8 mx-auto mt-5 text-center">
        <button style="justify-content:center;" class="btn btn-success centered_button" id="submit-all">Submit</button>
    </div>
</div>

{% endblock %}

{% block styles_lib %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block styles %}
<style>
    .kw-container-single {
        background-color: bisque;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #kw-container {
        background-color: cornsilk;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 14px;
    }

    button {
        font-size: 14px !important;
    }
    .centered_button {
        align-self: center;
        width: fit-content;
    }
</style>
{% endblock %}
{% block js__head_lib %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
{% endblock %}
{% block js_scripts %}
<script>
    var csrf_token = "{{ csrf_token() }}";
$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});
</script>
<script>
            $('#error').hide();

    function kw_container_single_getter(last_id) {
        var updated_id = last_id + 1;
        return `        <div class="row justify-content-center kw-container-single" id="kw-container-${updated_id}" style="margin-top:10px">
        <div class="col-6 offset-2">
            <div class="row" style="margin-top: 10px;">
                <div class="col-4">Keyword:</div>
                <div class="col-5">
                    <input type="text" name="kw-${updated_id}" id="kw-${updated_id}" class="kw-class text-center" placeholder="Enter Keyword">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-4">Prefix starts at:</div>
                <div class="col-5">
                    <input type="text" name="prefix-${updated_id}" id="prefix-${updated_id}" class="prefix-class text-center" placeholder="Before kw, n numbers of chars">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-4">Postfix ends at:</div>
                <div class="col-5">
                    <input type="text" name="postfix-${updated_id}" id="postfix-${updated_id}" class="postfix-class text-center" placeholder="After kw, n numbers of chars">
                </div>
            </div>
        </div>
        <div class="col-3">
            <br>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <button style="justify-content:center;" class="btn btn-danger delete-one" id="delete-${updated_id}">Remove</button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <button style="justify-content:center;" class="btn btn-secondary add-more" id="add-${updated_id}">Add More</button>
                </div>
            </div>
        </div>
    </div>`;
    }
    function remove_kw(){
        $('.delete-one').click( function(e){
        e.preventDefault();
        var target_id = e.target.id;
        $(`#kw-container-${target_id.split('-')[1]}`).remove();
        $(`.add-more`).last().attr('disabled', false);
        remove_kw();
    });
    }
    function click_event_add(){
        $('.add-more').click( function(e){
        e.preventDefault();
        var target_id = e.target.id;
        var target_id_num = target_id.split('-')[1]*1;
        if (target_id_num > 0){
            var html_string = kw_container_single_getter(target_id_num);
            $('#kw-container').append(html_string);
            $('#' + target_id).attr('disabled', true);
            console.log($('.kw-container-single').length, target_id_num+1);
            if ($('.kw-container-single').length > target_id_num+2){
                //remove last
                $('.kw-container-single').last().remove();
            }
        }
        click_event_add();
        remove_kw();
    });
    }
    $('#add-0').click((e)=>{
        e.preventDefault();
        var target_id = 'add-0';
        // console.log(target_id);
        var html_string = kw_container_single_getter(target_id.split('-')[1]*1);
        $('#kw-container').append(html_string);
        $('#add-0').attr('disabled', true);
        click_event_add();
        remove_kw();
    });
    function process_kw_data(){
        var data_obj = {};
        var elem_list = $('.kw-container-single');
        for(var i=0;i<elem_list.length;i++){
            var kw = $('.kw-class')[i].value;
            if (kw){
                var prefx = $('.prefix-class')[i].value;
            var pstfx = $('.postfix-class')[i].value;
            prefx = prefx.match(/^-?\d+$/)? prefx * 1:0;
            pstfx = pstfx.match(/^-?\d+$/)? pstfx * 1:0;
            data_obj[i] = {'kw': kw, 'prefx':prefx, 'pstfx':pstfx };
            }

        }
        return data_obj;
    }
    $('#submit-all').click((e)=>{
        e.preventDefault();
        $('#submit-all').attr('disabled', true);
        var data_obj = process_kw_data();
        if (data_obj){
            $('#error').hide();
            $.ajax({
                type:"POST",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({'kw':data_obj}),
                dataType: "json",
                url: "{{ url_for('file_uadd_keywords', file_id = file_dict['file_id'])}}",
                success: function (data) {
                            console.log(data);
                            if (data.status){
                                setTimeout(()=>{
                                    window.location.href = "{{ url_for('dashboard')}}";
                                },200)

                            }
                            else {
                                $('#error').show();
                            }
                        }
                });
  

        }
        else{
    $('#error').show();
        }
    });
</script>
{% endblock %}
