<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>PDF Tool</title>
    {% block styles_lib %}{% endblock %}
    {% block styles %}{% endblock %}
    {% block js__head_lib %}{% endblock %}
</head>
<body style="height: 100vh;">
    <div class="container" style="height: 100%;">
        {% block body_content %}{% endblock %}
    </div>
    {% block modals %}{% endblock %}
    {% block js_scripts %}{% endblock %}
</body>
</html>